<h1>{{title}}</h1>
<h2>{{title2}}</h2>

<div *ngIf="!displayEdit">
  <table>
    <tr>
      <td>Name</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{user.age}}</td>
    </tr>
    <tr>
      <td>Favourite color</td>
      <td>{{user.favouriteColor}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{user.gender}}</td>
    </tr>
    <tr>
      <td>Month</td>
      <td>{{user.month}}</td>
    </tr>
  </table>
</div>

<div *ngIf="displayEdit">
  <table>
    <tr>
      <td>Name</td>
      <td>
        <input name="name" type="text" [(ngModel)]="user.name">
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>
        <input name="age" type="text" [(ngModel)]="user.age">
      </td>
    </tr>
    <tr>
      <td>Favourite color</td>
      <td>
        <input name="favouriteColor" type="text" [(ngModel)]="user.favouriteColor">
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>
        <input name="gender" ng-control="options" type="radio" value="male"  [(ngModel)]="user.gender" > Male<br/>
        <input name="gender" ng-control="options" type="radio" value="Female" [(ngModel)]="user.gender" >Female<br/>
      </td>
    </tr>
    <tr>
      <td>Month</td>
      <td>
        <select name="month" [(ngModel)]="user.month">
          <option *ngFor="let month of months" value={{month}}>{{month}}</option> 
        </select><br>
      </td>
    </tr>
  </table>

</div>
<button class="toggleEdit" (click)="toggleEdit()">ToggleEdit</button>
